body{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-evenly;
    height:100vh;
    background: whitesmoke;
    font-size:1.5rem;
    font-family: sans-serif;



}
.textcontainer{
    width:90vw;
    height:15vh;
    background: whitesmoke;
    background-color:white;
    box-shadow: 0 0 20px 2px gray;
    border-radius: 0.5rem;
    padding:1rem;
    outline:none;
    display: flex;
    flex-direction:column-reverse;
    overflow-y: scroll;
}

.keyboard{
    height: 60vh;
    width:70vw;
    background:grey;
    border-radius: 1 rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: darkgrey;
    border-radius: 1rem;
    
}

.row{
    display:flex;
    align-items:center;
    justify-content:space-evenly;

}
.secondLast{
    width: 60%;
    margin:0 auto;
}
.space{
    width: 50%;
    height: 2rem;
    background:grey;
} 
.key:active{
    background:white;
}
.key{
    padding:0.5rem;
    border-radius: 2px;
}
.active{
    background: whitesmoke;
}
